.container {
    /* margin: 1rem 0; */
}

.skills {
    position: relative;
    padding: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.skill {
    padding: 0.8rem;
}

.icon {
    font-size: 2.2rem;
    color: #fefefe;
}

@media screen and (max-width:600px) {
    .skills {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}

.fa-html5:hover {
    color: #ff8d70;
    transform: scale(0.96);
    transition: transform 0.4s;
}

.fa-css3-alt:hover {
    color: #94d2ff;
    transform: scale(0.96);
    transition: transform 0.4s;
}

.fa-square-js:hover {
    color: #fff194;
    transform: scale(0.96);
    transition: transform 0.4s;
}

.fa-react {
    animation: rotate-animate 1.2s linear infinite;
}

.fa-react:hover {
    color: #acedff;
    transform: scale(0.96);
    transition: transform 0.4s;
}

.fa-node:hover {
    color: #a2ff9a;
    transform: scale(0.96);
    transition: transform 0.4s;
}

.fa-python:hover {
    color: #b1dcff;
    transform: scale(0.96);
    transition: transform 0.4s;
}

.fa-figma:hover {
    color: #ffac92;
    transform: scale(0.96);
    transition: transform 0.4s;
}

.fa-aws:hover {
    color: hsl(36, 100%, 77%);
    transform: scale(0.96);
    transition: transform 0.4s;
}

.fa-github:hover {
    color: var(--paragraph);
    transform: scale(0.96);
    transition: transform 0.4s;
}

@keyframes rotate-animate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}