.navbar {
    padding: 1.4rem;
    background: var(--bg-background);
    color: var(--headline);
    display: flex;
    justify-content: space-between;
}

.navbar__title {
    color: var(--headline);
    text-decoration: none;
}

.nav__item {
    list-style-type: none;
}


.navbar__nav {
    display: flex;
    align-items: center;
}

.nav__division {
    display: flex;
}

.nav__item,
.icon__btn {
    margin-left: 1.4rem;
}

.nav__link,
.icon__btn {
    text-decoration: none;
    color: var(--headline);
}

.icon__btn {
    display: none;
}

.icon__btn {
    transition: 0.2s;
}

.icon__btn:active {
    transform: scale(0.95);
}



@media screen and (max-width:600px) {
    body {
        position: relative;
    }

    .icon__btn {
        display: block;
    }

    .nav__item {
        margin-top: 1.4rem;
    }

    .nav__division {
        height: 100vh;
        width: 150px;
        background: var(--background);
        flex-direction: column;
        align-items: center;
        transition: 0.4s;
    }

    .nav__open {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 100;
    }

    .nav__close {
        position: absolute;
        left: -100rem;
        top: 0;
        bottom: 0;
    }

}